<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<!--namespace = 所需实现的接口全限定名-->
<mapper namespace="cn.edu.huas.zhihu.mapper.AnswerMapper">
    <select id="getAnswerInfos" resultType="AnswerBean">
    select ans.id,ans.answer_ctnt,ans.user_id,ans.question_id,ans.good,user.username,user.imageurl,qus.question_text,qus.comment_num
    FROM answer ans
             INNER JOIN question qus
                        ON ans.question_id = qus.id
             INNER JOIN user
                        ON ans.user_id = user.id
    </select>

    <select id="getFollowAnswerInfos" resultType="AnswerBean">
        select ans.id,ans.answer_ctnt,ans.user_id,ans.question_id,ans.good,user.username,user.imageurl,qus.question_text,qus.comment_num
        FROM answer ans
                 INNER JOIN question qus
                            ON ans.question_id = qus.id
                 INNER JOIN user
                            ON ans.user_id = user.id
                 INNER JOIN followque fq
                            ON fq.question_id = qus.id
        WHERE fq.user_id = #{user_id}
    </select>

    <select id="getHotAnswerInfos" resultType="AnswerBean">
        select ans.id,ans.answer_ctnt,ans.user_id,ans.question_id,ans.good,user.username,user.imageurl,qus.question_text,qus.comment_num
        FROM answer ans
                 INNER JOIN question qus
                            ON ans.question_id = qus.id
                 INNER JOIN user
                            ON ans.user_id = user.id
        WHERE ans.good > 5000 OR qus.comment_num > 100
    </select>

    <select id="getCollectAnswerInfos" resultType="AnswerBean">
        select ans.id,ans.answer_ctnt,ans.user_id,ans.question_id,ans.good,user.username,user.imageurl,qus.question_text,qus.comment_num
        FROM answer ans
                 INNER JOIN question qus
                            ON ans.question_id = qus.id
                 INNER JOIN user
                            ON ans.user_id = user.id
                 INNER JOIN collect col
                            ON col.answer_id = ans.id
        WHERE col.user_id = #{user_id}
    </select>

    <select id="queryTotal" resultType="java.lang.Integer">
        select count(*)
        from answer
    </select>

</mapper>