<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<!--namespace = 所需实现的接口全限定名-->
<mapper namespace="cn.edu.huas.zhihu.mapper.QuestionMapper">

    <select id="getQuestionInfos" resultType="Question">
        select *
        from question qus
        where qus.id = #{question_id}
    </select>

    <select id="getAllQuestionInfos" resultType="ShowQuestion">
        select qus.id,qus.question_text,qus.user_id,qus.comment_num,user.username,user.imageurl
        from question qus
                 INNER JOIN user

                 INNER JOIN followque fq
                            ON fq.question_id = qus.id
        WHERE user.id = #{user_id}
    </select>

    <select id="queryTotal" resultType="java.lang.Integer">
        select count(*)
        from question
    </select>
</mapper>