<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<!--namespace = 所需实现的接口全限定名-->
<mapper namespace="cn.edu.huas.zhihu.mapper.SessionMapper">
    <select id="getSessionInfos" resultType="SesUserBean">
        SELECT
            `session`.id,
            `session`.user1_id,
            `session`.user2_id,
            `user`.username,
            `user`.imageurl,
            chat.content,
            chat.send_time
        FROM
            `user`
                INNER JOIN
            `session`
            ON
                `user`.id = `session`.user2_id
                INNER JOIN
            chat
            ON
                            `session`.user1_id = chat.send_user_id AND
                            `session`.user2_id = chat.receive_user_id OR
                            `session`.user1_id = chat.receive_user_id AND
                            `session`.user2_id = chat.send_user_id
        WHERE
            `session`.user1_id = #{id}
          AND chat.send_time = (SELECT MAX(ch.send_time)
                                FROM chat ch
                                WHERE `session`.user1_id = ch.send_user_id AND
                                      `session`.user2_id = ch.receive_user_id OR
                                            `session`.user1_id = ch.receive_user_id AND
                                            `session`.user2_id = ch.send_user_id)
        ORDER BY
            chat.send_time DESC
    </select>
</mapper>