<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<!--namespace = 所需实现的接口全限定名-->
<mapper namespace="cn.edu.huas.zhihu.mapper.UserMapper">
    <select id="userLogin" resultType="User">
        select *
        from user
        where phone = #{phone}
        and password = #{password}
    </select>
    <insert id="userRegister" parameterType="User">
        insert into user
        values (#{id}, #{username}, #{phone}, #{password}, #{imageurl}, #{describe})
    </insert>
    <select id="queryByPhone" resultType="User">
        select *
        from user
        where phone = #{phone}
    </select>
</mapper>